<div class="row">
   <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
       <div class="account-wall">
       
          <form  class="form-signin" name="recuperarPass" id ="recuperarPass"action="index.php?modulo=recuperarPassword" method="post" onSubmit="return verificarEmail();">
          
               <strong>Tipo de Usuario: </strong><br />
               <div class="radio-inline">
                    <input type="radio" name="tipoUsuarioRecuperarPass" id="tipoUsuarioRecuperarPass" value="d" 
                    onClick="return mostrarFormularioRecuperarPass('d');" /> Docente
               </div>
               <div class="radio-inline">
                    <input type="radio" name="tipoUsuarioRecuperarPass" id="tipoUsuarioRecuperarPass" value="e" 
                    onClick="return mostrarFormularioRecuperarPass('e');" /> Evaluador
               </div>
               <p>&nbsp;</p>
               <div id="mostrarCurpRecuperarPass" style="display:none">
                    <input type="text" name="usuario" id="usuario" class="form-control"  onKeyDown="deleteBlue()" onKeyUp="convertirMayusculas('usuario')" placeholder="Clave Única de Registro de Población" />
                    <br />
                     <div id="botonRecuperarPassword" align="center">
                         <button class="btn btn-lg btn-primary btn-block" type="submit" name="generar" id="generar" >
                              Enviar Nuevo Password
                         </button>
                         </div>
                         <input type="hidden" name="accion" id="accion" value="generar" />
                         <input type="hidden" name="perfilIdRecuperarPass" id="perfilIdRecuperarPass" value="" />
               </div>
               
          </form>
   </div>
</div>
<div class="row">
&nbsp;
</div>
